<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738683037128-3s1brl1umn7gkg5h02g8f7jjb9ear9pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738683037128-3s1brl1umn7gkg5h02g8f7jjb9ear9pf</string>
	<key>API_KEY</key>
	<string>AIzaSyA8jbFlYwn_Jw8kmSkxppi6V3sf9l72y10</string>
	<key>GCM_SENDER_ID</key>
	<string>738683037128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heliu.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios15-acedc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios15-acedc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738683037128:ios:e5e2600dda71e8f78a4cfd</string>
</dict>
</plist>